@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

a {
  color: inherit;
  text-decoration: none;
    
}

body {
  background-image: url(img/fondo1.jpg);
  font-family: 'Indie Flower', cursive;
  font-size: 19px;
  text-align: center;
}

.marca {
  border-radius: 15px 15px 0 0;
  background-color: #1f1222;
  color: white;
}

.titulo__marca {
   font-size: 20px;
}
.pregunta{
color: rgb(0, 0, 0);
background-color: rgb(248, 250, 252);

}

.titulo {
  color: #4d0555;
  background-color: rgb(252, 241, 241);
  font-size: 34px;
  margin: 10px 0;
}






.presentacion {
  border-radius: 50px;
  border: 1px solid rgb(20, 4, 4);
  box-shadow:  0 8px 10px rgba(19, 1, 1, 0.6);
 background-image:url(img/cacet3.jpg);
  margin: 30px auto;
  height: 600px;
  width: 50%
}

.container {
  padding: 50px 10px 0;
  background-image:url(img/cacet3.jpg);
  background-color: rgb(245, 248, 250);
}

.input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 20px;
  margin: 10px 0;
  width: 70%;
}

.input {
  font-family: 'Indie Flower', cursive;
  font-size: 15px

}

.botones {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.boton {
  border-radius: 10px;
  border: 1px solid black;
  font-weight: 800;
  display: block;
  padding: 5px 10px;
  margin: 10px auto;
  width: 40%
}

.botonVolver {
  background-color: #7c5980;
  color: rgb(252, 244, 244);
  border: 1px solid rgb(26, 5, 5);
  border-radius: 10px;
  font-weight: 800;
  display: block;
  padding: 5px 10px;
  margin: 10px auto;
  width: 40%
}

.boton:hover,
.botonTrivias:hover
.botonSiguiente:hover {
  background-color: #7c5980;
  color: white;
  border: 1px solid white
}

.botonTrivias {
  font-family: 'Indie Flower', cursive;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
  margin: 10px auto;
  width: 80%
}

.pregunta {
  display:block;
  font-weight: 600;
}

.botonSiguiente {
  border-radius: 10px;
  border: 1px solid black;
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  padding: 5px 10px;
  width: 30%;
  margin-left: 60%;
  font-weight: bold;
}

.cronometro {
  border-radius: 10px;
  border: 1px solid #7c5980;
  color: rgb(243, 5, 5);
  background-color: aliceblue;
  min-height: 30px;
  margin: 0 auto;
  width: 100px;
}

.puntos {
  font-size:16px;
  margin: 10px 0;
}

.imgDecoracion {
  width:180px;
}

.puntajeTitulo {
  background-color: rgb(245, 245, 241);
  color:  #36063b;
  font-size: 25px
}

.puntaje {
  background-color: rgb(187, 229, 241);
  color: #11020b;
  font-size: 40px;
}









